doctype
html
    head
        title #{title}
        link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css", integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u", crossorigin="anonymous")
        link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css", integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp", crossorigin="anonymous")
        link(rel="stylesheet", href="/assets/css/login.css")
    body
        .container-login
            .title-panel
                .title-name
                    span(style="font-size: 30pt;") Målerjakt
                .link-domain
                    a(href="https://www.malerjakt.no/", style="align-self: flex-end;") www.malerjakt.no
            .login-panel
                form#login-form(action='/login', method='post', role='form', style='display: block;')
                    .group-input
                        span(style="padding-left: 15px; font-size: 14pt;") Login
                        input#username.control(type='text', name='username', tabindex='1', placeholder='Username')
                        if errors && errors.username
                            span.error #{errors.username}
                    .group-input
                        span(style="padding-left: 15px; font-size: 14pt;") Password
                        input#password.control(type='password', name='password', tabindex='2', placeholder='Password')
                        if errors && errors.password
                            span.error #{errors.password}
                    a.access-link(href="mailto:malerjakt@nina.no") No access? Contact malerjakt@nina.no
                    .group-input
                        .right
                            input#login-submit.form-control.btn.btn-login(type='submit', name='login-submit', tabindex='4', value='Login')
            .logo-panel
                .img-logo
                    image(src="/assets/img/logo-web.png", alt="logo", style="width: 106px; height: 56px")
                .img-framsenteret
                    image(src="/assets/img/framsenteret-bsentrert.png", alt="framsenteret", style="width: 253px; height: 44px")
        .container-image


    script(src="https://code.jquery.com/jquery-3.2.1.js", integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=", crossorigin="anonymous")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js", integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa", crossorigin="anonymous")
    script(type='text/javascript', src='/assets/js/login.js')
