doctype
html
    head
        title #{title}
        link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css", integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u", crossorigin="anonymous")
        link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css", integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp", crossorigin="anonymous")
        link(rel="stylesheet", href="/assets/css/main.css")
    body
        .nav-bar
            .nav-bar-left.full-height
                a.navbar-brand(href='/') Maler jakt administration
                a.log(href='/logout')
                    .glyphicon.glyphicon-log-out
                    span.logout Logout
            .nav-bar-right.full-height
                a.del(href='#', style="padding-right: 20px;")
                    .glyphicon.glyphicon-remove-circle
                    span.logout Purge deleted images
                a.bar.btn.default Export geolocations
                a.bar.btn.default#archive-images Export images
                a.bar.btn.default(href="/") Table view


    script(src="https://code.jquery.com/jquery-3.2.1.js", integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=", crossorigin="anonymous")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js", integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa", crossorigin="anonymous")
    script(type='text/javascript', src='/assets/js/main.js')
