.logout, span.del {
    padding-left: 10px;
}

span.del {
    color: #E74C3C;
    cursor: pointer;
}

.glyphicon-remove-circle {
    color: #E74C3C;
}

.nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #FFCE62;
    height: 65px;
}

.full-height {
    height: 100%;
}

.nav-bar-left {
    display: flex;
    align-items: center;
}

.nav-bar-right {
    display: flex;
    flex-direction: row;
    align-items: center;
}

a.bar, button.bar {
    position: relative;
    margin: 0 10px;
    width: 151px;
    height: 34px;
    background-color: #fff;
    display: flex;
    justify-content: center;
}

a.bar:hover, button.bar:hover {
    background-color: #f8ffac;
}

a.log {
    margin-left: 40px;
}

button {
    outline: none;
    width: 90px;
    height: 44px;
    background-color: #fff;
    margin: 5px;
    border: 1px solid #979797;
}

.loader {
    /*position: absolute;*/
    border: 3px solid #f3f3f3;
    border-radius: 50%;
    border-top: 3px solid #3498db;
    width: 22px;
    height: 22px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}